body {
    font-family: sans-serif;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.produto {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 18px;
    border-radius: 5px;

}

.produto h3 {
    margin-top: 0;
    margin-bottom: 5px;
}

.produto p {
    margin: 5px 0;
}

.disponivel {
    color:#0acb0a;
    font-weight:700;
}
.indisponivel {
    color: #f00;
    font-weight: 700;
}

#form-produto{
    margin-bottom: 20px;
}

#form-produto label {
    display: block;
    margin-bottom: 5px;
}

#form-produto input {
    width: 200px;
    padding: 5px;
    margin-bottom: 10px;
    transition: all;
    transition-duration: 0.5s;
}

#form-produto button {
    padding: 8px 12px;
    color: #fff;
    border: none;
    cursor: pointer;
    border: 1px solid #000;
    background-color: #000;
    border-radius: 5px;
    transition: all;
    transition-duration: 0.5s;margin:0px 0px 0px 4em;
    width: 300px;
}
#form-produto button:hover {
    color: #000;
    border: 1px solid #000;
    background-color: #fff;
}

#disponivel {
    width: 6em;
    padding: 6px 3px;
}